.button {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    padding: 3px 7px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(99, 180, 251);
    transition: border-radius ease-in-out 0.2s, background-color ease-in-out 0.2s;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(49, 151, 241);
}

.input {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    padding: 3px 7px;
    margin: 10px;
    border-radius: 10px;
}